.registration-container{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
.registration-form{
    width: 60%;
    height: 86vh;
    background-color:#ffffff;
    padding: 3% 7%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
}

/*main*/
.registration-form-title{
    margin-bottom: 2rem;
    color: #42515F;
    font: normal normal bold 28px/37px Roboto;
}

/*Name Section*/
.form-cnt-name{
    display: flex;
    gap: 5rem;
    align-items: center;
}
.label{
    color: #42515F;
    font-size: 1.1rem;
}
#form-cnt-name-textbox{
    font-size: large;
    width: 30vw;
    height: 4vh;
}


// /* Profile Image Section */

.form-cnt-profile{
    display: flex;
    gap: 3.5%;
    margin-top: 5%;
    align-items: center;
}

.form-cnt-profile-imgradio{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.form-cnt-profile-imgradio-1,
.form-cnt-profile-imgradio-2,
.form-cnt-profile-imgradio-3,
.form-cnt-profile-imgradio-4{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.radio-images{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
}






/* Gender Section */
.form-cnt-gender{
    display: flex;
    gap: 9.5%;
    margin-top: 5%;
    align-items: center;
}

.form-cnt-gender-radiolabels{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.form-cnt-gender-radiolabels-1,
.form-cnt-gender-radiolabels-2{
    display: flex;
    gap: 1rem;
}



/* Department Section */
.form-cnt-department {
    margin-top: 5%;
    display: flex;
    gap: 5.3%;
    align-items: center;

}
.form-cnt-department-checkbox{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.form-cnt-department-checkbox-1,
.form-cnt-department-checkbox-2,
.form-cnt-department-checkbox-3,
.form-cnt-department-checkbox-4,
.form-cnt-department-checkbox-5{
    display: flex;
    gap: 1rem;
}




/* Salary Selection */

.form-cnt-salary{
    display: flex;
    gap: 10.5%;
    margin-top: 5%;
    align-items: center;
}

#salary{
    width: 15vw;
    height: 4vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    color: #42515F;
    font: normal normal normal 14px Roboto;
}


 /* Start Date Section */

 .form-cnt-salary-selectStartDate{
    display: flex;
    gap: 7%;
    margin-top: 5%;
    align-items: center;
 }

 .form-cnt-salary-selectStartDate-dmy{
    display: flex;
    gap: 1rem;
    align-items: center;
 }
.dmy{
    width: 8vw;
    height: 4vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    color: #42515F;
    font: normal normal normal 14px Roboto;
}


/* Notes */
.form-cnt-notes{
    display: flex;
    gap: 11%;
    margin-top: 5%;
}

.textarea{
    font-size: large;
    width: 30vw;
    height: 8vh;
}



/* Buttons */
.form-cnt-buttons{
    display: flex;
    gap: 26%;
    align-items: center;
    margin-top: 5%;
}

.form-cnt-buttons-submitreset{
    display: flex;
    gap: 2rem;
}
.btn{
    width: 8vw;
    height: 5vh;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    font: normal normal normal 15px Roboto;
    color: #42515F;
}
