.navbar{
    position: fixed;
    top: 0px;
}
.navbar-container {
    width: 100vw;
    height: 10vh;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 8%;
}
.navbar-employee-payroll {
    margin-left: 0.5rem;
    color: #82A70C;
    font: normal normal bold 16px/19px Montserrat;
}
.navbar-brPayroll {
    color: #42515F;
}